* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #161616;
    color: #eeeeee;
}

.navigation{
    display: flex;
    flex-direction:row;
    align-content: center;
}
link{
    border: black;
}

.nav-buttons{
    background-color: lightgray;
    border: 1px solid gray;
    height: auto;
    width: auto;
    margin-top: 5px;
}



.font{
    margin: 1rem;
    width: 2rem;
    height: 2rem;
}