* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #161616;
    color: #eeeeee;
}

.navigation{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
}
link{
    border: black;
}

.nav-buttons{
    background-color: dimgray;
}



.font{
    margin: 1rem;
    width: 2rem;
    height: 2rem;
}